/.vs/
/.idea/
/.fake/
.vscode/
/packages/
bin/
obj/
out/
/.vscode/
*.sln.DotSettings.user
*.csproj.user
.DS_Store
/tmp/
.terraform/
.swp
git-crypt.key
/build.fsx.lock
.sonarqube/
*coverage.opencover.xml
/MemberClub/Properties/launchSettings.json
/MemberClub.v3.ncrunchsolution.user
memberclub.iml
/MemberClub.Test/TestResults/
MemberClub/swagger.json
/MemberClub.Test/NuGet.Config
deployment/test*
.store/
lcov.info
lcov.opencover.xml
MemberClub/.idea/
MemberClub.DotSettings.user